.container {
  @apply min-h-screen justify-center flex items-center
}


.calculator {
  @apply grid gap-4 p-6 pt-7 mx-4 rounded-[20px] shadow-[25px_25px_75px_hsla(var(--hue-color),10%,9%),10px_10px_70px_hsla(var(--hue-color),10%,9%),inset_-5px_-5px_15px_hsla(var(--hue-color),10%,7%),inset_5px_5px_15px_hsla(var(--hue-color),10%,50%)];
  grid-template-columns: repeat(4, 1fr); /* Equal size columns */
  background: var(--body-color);
}


.calculator .value {
  @apply relative  col-[span_4] h-[100px] shadow-[0_0_0_2px_hsla(var(--hue-color),10%,9%)] text-right text-[length:var(--screen-font-size)] mb-1.5 px-2 rounded-[10px] border-[none] ;
  outline: none;
  text-align: left;
  background: var(--screen-color);
}


.calculator span {
  @apply relative grid place-items-center p-4
  shadow-[inset_-8px_0_8px_hsla(var(--hue-color),10%,10%),inset_0_-8px_8px_hsla(var(--hue-color),10%,12%),inset_8px_0_8px_hsla(var(--hue-color),10%,40%),inset_0_8px_8px_hsla(var(--hue-color),10%,40%),0_0_0_2px_hsla(var(--hue-color),10%,9%),10px_20px_25px_hsla(var(--hue-color),10%,10%)] text-[color:var(--key-number-color)] select-none cursor-pointer font-normal  rounded-[10px];
  background: linear-gradient(
    90deg,
    hsla(var(--hue-color), 10%, 20%),
    hsla(var(--hue-color), 10%, 20%)
  );
}

.calculator span::before {
  @apply content-[''] absolute shadow-[-5px_-5px_15px_hsla(0,0%,0%,0.1),10px_5px_10px_hsla(0,0%,0%,0.1)] border-l-[hsla(var(--hue-color),10%,60%)] border-t-[hsla(var(--hue-color),10%,30%)] border-b-[hsla(var(--hue-color),10%,15%)] border-r-[hsla(var(--hue-color),10%,50%)] rounded-[10px] border-l border-solid border-t border-b border-r left-1 right-3 top-[3px] bottom-3.5;
  background: linear-gradient(
    90deg,
    hsla(var(--hue-color), 10%, 12%),
    hsla(var(--hue-color), 10%, 40%)
  );
}

.calculator span:active {
  @apply brightness-150;
}

.calculator span i {
  @apply relative text-[length:var(--key-number-font-size)] uppercase;
}
.calculator .clear {
  @apply col-[span_2] shadow-[inset_-8px_0_8px_#480000,inset_0_-8px_8px_#480000,0_0_0_2px_hsla(var(--hue-color),10%,9%),10px_20px_25px_hsla(var(--hue-color),10%,10%)] before:border-l-[#fff4] before:border-r-[rgba(255,255,255,0.555)] before:border-t-[rgba(255,255,255,0.137)] before:border-b-[#fff4] before:border-l before:border-solid before:border-b before:border-t before:border-r;
  background: #f00;
}
.calculator .clear::before {
  background: linear-gradient(90deg, #d20000, #ffffff5c);
}
.calculator .plus {
  @apply row-[span_2];
}
.calculator .equal {
  @apply shadow-[inset_-8px_0_8px_#003561,inset_0_-8px_8px_#003561,0_0_0_2px_hsla(var(--hue-color),10%,9%),10px_20px_25px_hsla(var(--hue-color),10%,10%)] before:border-l-[#fff4] before:border-l before:border-solid before:border-b before:border-t before:border-r;
  background: #2196f3;
}
.calculator .equal::before {
  background: linear-gradient(90deg, #1479c9, #ffffff5c);
}


